.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(5rem, auto);
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    padding: .5rem .75rem;
    margin: 3px;
    height: 100%;
    width: 80%;

}

.card-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: .2rem;
    width: 20rem;
    height: 8rem;
    padding: .1rem .5rem;
    background-color: rgba(255, 255, 255, 0.955);
    border: 1px solid rgba(24, 187, 15, 0.851);
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.animation {
    animation: lazy-loading .5s  ease;
}

.card-item {
    display: flex;
    align-items: center;
    object-fit: scale-down;

}

.left {
    justify-content: flex-start;
    align-items: center;
    justify-items: center;
    height: inherit;
    font-weight: bold;
    font-size: 1.1rem;
    box-sizing: border-box;
    border-color: black;

}

.center {
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    height: inherit;
    border-left: 1px solid black;
    width: 7rem;
    padding: .5rem .6rem;
    white-space: wrap;
    overflow: hidden;

}

.right {
    justify-content: center;
    align-items: center;
    justify-items: center;
    height: inherit;
    font-size: 1rem;
    white-space: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: bold;
    border-left: 1px solid black;
    width: 5rem;
    white-space: wrap;
    padding: .1rem .07rem;

}


.card-item-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-item-description {
    font-size: 1rem;
    font-weight: none;

}

.price-title {
    font-weight: bold;
}

.price-value {
    font-size: .9rem;
}

@media only screen and (max-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes lazy-loading {
    0%{
        filter: blur(5px);
        opacity: 0;
        transform: scale(0);
    }
    100% {
        filter: blur(0);
        opacity: 1;
        transform: scale(1);
    }

}
